:root {
    --cardColor: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background: #222;
    color: #fff;
    font-family: 'Cinzel', serif;
    min-width: 770px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('../assets/dungeon-wall.png');
    background-repeat: repeat;
    background-size: 50%;
    background-position: center;
}

.title {
    font-size: 4rem;
    text-shadow: 0px 3px 10px rgba(250, 0, 0, 0.89);
    margin-bottom: 2rem;
    /* Opcional: animación de entrada */
    animation: fadeIn 1.5s ease-out;
}

.start-btn {
    width: 15rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: #444;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.824);
}

.continue-btn {
    width: 15rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: #8a8a8a;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.start-btn:hover,
.continue-btn:hover {
    background: #666;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.824);
}

/* Animación opcional */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* Contenedor general del juego */
.game-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}


.dungeon {
    background-image: url('../assets/title.png');
    background-size: 80%;
    background-position: center -60px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Sección del Dungeon */
.dungeon-container {
    display: flex;
    min-width: 50%;
    max-width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;

}

.deck-pile,
.discard-pile {
    width: 100px;
    height: 140px;
    position: relative;
}

.count-background {
    max-width: 95%;
    background: #00000000;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-back {
    width: 100%;
    height: 100%;
    background: #555;
    /* O podés usar una imagen de reverso de carta: url('assets/card-back.png') */
    background-image: url('../assets/dungeonBackground/2.png');
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #2c0101;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.deck-pile .card-back {
    transform: rotate(-5deg);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.845);
}

.discard-pile .card-back {
    transform: rotate(7deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.845);
}


.card-count {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    margin-inline: 10px;
}

.dungeon-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5rem;
    color: #fff;
    height: 100%;
    position: relative;

}

.dungeon-title h2 {
    font-size: 3rem;

}

.back-button {
    background-color: grey;
    width: 30%;
    color: lightgray;
    font-weight: bold;
    cursor: pointer;
}

.run-button {
    position: absolute;
    top: 80px;
    width: 150px;
    height: 80px;
    margin-top: 1rem;
    background-color: transparent;
    background-image: url('../assets/button.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.824));
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.2s, filter 0.2s;

}

.run-button:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.824));
    transform: scale(.95);


}

/* Sección de la Habitación */
.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: #444;
    padding: 2rem;
    text-align: center;
    background-image: url('../assets/dungeon-wall.png');
    background-repeat: repeat;
    background-size: 220px 220px;
    background-position: center;
    height: 100%;
    box-shadow: inset 0px 25px 30px black;


}

/* Cards Styles */

.cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.card {
    /* Quitamos bordes y fondo para que no interfieran con el marco */
    border: none;
    background: transparent;
    width: 220px;
    height: 290px;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 3px 15px 10px rgba(0, 0, 0, 0.5);
}

/* Contenedor interno para el contenido de la carta */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
}

/* Pseudo-elemento para el marco */
.card-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* La imagen del marco, que debe tener partes transparentes para ver el contenido */
    background: url('../assets/cards/cardFrame.png') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    z-index: 2;
}

.card-header {
    font-size: 1.2rem;
    z-index: 3;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    width: 90%;
}

.card-value {
    width: 20%;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: -3px 3px 1px rgba(47, 52, 4, 0.651);
    text-align: center;

}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: -18px;
    left: 0;

}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;

}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: 0.9rem;
    z-index: 3;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;

}

.card-footer .card-emoji {
    flex: 1;
    font-size: 2.3rem;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card-footer .card-name {
    flex: 3;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-align: center;

}



.card:hover {
    transform: scale(1.5);
    box-shadow: 3px 25px 20px rgba(0, 0, 0, 0.686);
    z-index: 100;

}

.card.placeholder:hover {
    transform: none !important;
}

.card-placeholder {
    border: none;
    background: transparent;
    width: 220px;
    height: 290px;
    position: relative;
    overflow: hidden;
    background: transparent;
    border: 2px dashed #555;
    cursor: default;
    box-shadow: inset 0 0 10px 10px #00000097;
}



/* Sección del Jugador */
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    background-color: #333;
    padding: 1rem;
    padding-top: 1.3rem;
    text-align: center;
    padding-bottom: 2rem;
    background-image: url('../assets/satchel.png');
    background-repeat: repeat;
    background-size: 100%;
    background-position: center 0px;
    box-shadow: 0px -10px 20px black;
}

.stats {
    margin-top: .1rem;
    margin-bottom: 1rem;
}



.equipment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 90%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    /* center content of each cell */
    justify-items: center;
}

.equipped-weapon,
.equipped-armor,
.equipped-potion {
    /* Para que cada columna muestre sus elementos apilados verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
}

.weapon-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

/* Sección para la pila de monstruos derrotados */
.defeated-monsters {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

/* Contenedor donde se apilan las cartas */
.monster-stack {
    position: relative;
    width: 70px;
    margin-top: 0;
    padding-top: 0;
}

.stack-top {
    width: 70px;
    height: 100px;
    border: 1px solid #6d6d6d;
    border-radius: 8px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.743);
    position: absolute;
    overflow: hidden;
}

.stack-top:nth-child(1) {
    top: 0;
    z-index: 1;
}

.stack-top:nth-child(2) {
    top: 30px;
    z-index: 2;
}

.stack-top:nth-child(3) {
    top: 60px;
    z-index: 3;
}

.stack-top:nth-child(4) {
    top: 90px;
    z-index: 4;
}

.stack-top:nth-child(5) {
    top: 120px;
    z-index: 5;
}


.stack-top .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.stack-top .card-content::after {
    content: "";
    background-image: none;
}

.stack-top .card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.stack-top .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.stack-top .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.stack-top .card-footer {
    display: flex;
}

.stack-top .card-footer .card-emoji {
    flex: 1;
    font-size: 1.5rem;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.stack-top .card-footer .card-name {
    display: none;
}

.stack-top .card-value {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}


.weapon-slot,
.armor-slot,
.potion-slot {
    width: 180px;
    height: 220px;
    background: #252424;
    border: 2px dashed #9d6e38;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    cursor: default;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5);
    min-width: 180px;
    gap: .5rem;

}

.placeholder-slot {
    font-size: 9rem;
    filter: grayscale();
    color: rgba(0, 0, 0, 0.222);
}



.weapon-info,
.armor-info,
.mana-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Cartas equipadas */

.card.equipped {
    /* Quitamos bordes y fondo para que no interfieran con el marco */
    border: none;
    background: transparent;
    width: 135px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 2%;
    cursor: default;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Contenedor interno para el contenido de la carta */
.card.equipped .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
}

/* Pseudo-elemento para el marco */
.card.equipped .card-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* La imagen del marco, que debe tener partes transparentes para ver el contenido */
    background: url('../assets/cards/cardFrame.png') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    z-index: 2;
}

.card.equipped .card-header {
    z-index: 3;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
}

.card.equipped .card-value {
    width: 100%;

    font-size: 5rem;
    font-weight: bold;
    text-shadow: -3px 3px 1px rgba(47, 52, 4, 0.651);
}

.card.equipped .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: -18px;
    left: 0;

}

.card.equipped .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
    /* filter: brightness(0.9); */

}

.card.equipped .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    z-index: 3;
    height: 10px;
    margin-bottom: 22px;
    padding: 5px;
    gap: 0px;

}

.card.equipped .card-footer .card-emoji {
    flex: 0;
    font-size: 1rem;
    margin-top: 0px;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: fit-content;

}

.card.equipped .card-footer .card-name {
    flex: 0;
    width: fit-content;
    font-size: .8rem;
    font-weight: bold;
    color: black;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.card.equipped:hover {
    transform: none !important;
}

.stats {
    font-size: 1.5rem;
    /* Si querés que las stats estén en una sola fila o en columnas, podés ajustarlo */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}




/* Barra de salud */

.health-bar {
    width: 80%;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 25px;
    position: relative;
    background: #333;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.873);
}

.health-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #8B0000;
    /* rojo oscuro */
    width: 100%;
    transition: width 0.5s ease-out;
    transform-origin: left center;
}

.health-text {
    position: absolute;
    top: -6px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
}

/* Animación de sacudida */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s ease;
}

.health-bar-container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}


/* Efecto de aparecer la carta */
@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pop {
    animation: pop 0.2s ease-out;
}



.spell-target-container {
    display: none;
    /* Se mostrará cuando se active el selector */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 100;
}

.target-indicators {
    display: flex;
    gap: 10px;
    margin-bottom: 0.5rem;
}

.target-indicator {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #333;
}

.target-indicator.active {
    background: #0f0;
}

.spell-target-container button {
    padding: 0.5rem 1rem;
    background: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.card.dimmed {
    opacity: 0.3;
}

.card.selectable {
    cursor: pointer;
}

.card.selectable.selected {
    outline: 2px solid #0f0;
}

.log-container {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    overflow-y: auto;
    padding: 0.5rem;
    font-family: monospace;
    font-size: 0.9rem;
}


.log-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    /* Usamos stops para controlar la transición:
       - Comienza con rgba(0,0,0,0.6)
       - A 50% pasa a rgba(0,0,0,0.3)
       - Termina en transparente a 100%
    */
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.724) 50%, rgba(0, 0, 0, 0.356) 80%, transparent 100%);
    pointer-events: none;
}







.log-container strong {
    color: red;
}

.log-container p {
    margin: 0.2rem 0;
    padding: 0.2rem;
    transition: color 0.3s;
}




/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.653);
    z-index: 1000;
    overflow: auto;
    justify-content: center;
    align-items: center;
}






.modal-content {
    display: flex;
    height: 700px;
    width: 700px;

    padding-top: 100px;
    padding-bottom: 110px;
    padding-inline: 80px;
    background-image: url('../assets/gameOver.png');
    background-size: 110%;

    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    background-color: transparent;
    position: relative;

}

.modal-monster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

}

.battle-analysis {
    min-height: 50px;
    /* Zócalo fijo */
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #898989;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Si el contenedor está vacío, mostramos un placeholder */
.battle-analysis:empty::before {

    color: #aaa;
    font-size: 0.8rem;
}

/* Estilos al hacer hover sobre el contenedor */
.battle-analysis:hover {
    background-color: #e8e8e8;
    border-color: #999;
}

.modal-options {
    display: flex;
    gap: 1rem;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background 0.3s;
}

.option .card.equipped {
    cursor: pointer;
    /* animate scale on hover */
    transition: transform 0.3s ease-out;
}

.option .card.equipped:hover {
    cursor: pointer;
    transform: scale(1.2) !important;
}

.option .card.equipped.unavailable {
    cursor: not-allowed;
    opacity: 0.5;
}

.option .card.equipped.unavailable {
    transform: none !important;
}

.option .card-placeholder {
    cursor: default;
    width: 135px;
    height: 180px;
}

.close-modal {
    background-image: url('../assets/xbuttonSmall.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s, transform 0.2s, filter 0.2s;
    /* Añade la transición para transform y filter */

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    transform: scale(1);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.824));
    backface-visibility: hidden;
    /* Mejora la calidad durante la transformación */
    transform-style: preserve-3d;
    /* Mejora la calidad durante la transformación */
}

.close-modal:hover {
    color: #f00;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.824));
    transform: scale(0.95);
}


.game-over {
    display: flex;
    height: 700px;
    width: 700px;

    background-image: url('../assets/gameOver.png');
    background-size: 110%;

    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;
    background-color: transparent;
    overflow: visible;
    padding-inline: 8rem;
}

.game-over-title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-shadow: 0px 10px 3px rgba(0, 0, 0, 0.89);
}

.game-over-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 1.5rem;
    gap: .5rem;
    width: 95%;
}

.game-over-button {
    width: 15rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    background: rgba(171, 26, 26, 0.523);
    /* Fondo semitransparente */
    border: 2px solid rgba(43, 6, 6, 0.5);
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8), inset 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    backdrop-filter: blur(8px);
    /* Efecto Glass */
    -webkit-backdrop-filter: blur(8px);
}

.game-over-button:hover {
    background: rgba(207, 6, 6, 0.652);
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9), inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.modal-buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.victory-rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .3rem;
    width: 100%;
    padding: 1rem;
    /* background: rgba(0, 0, 0, 0.8); */
    border-radius: 10px;
    z-index: 100;
    text-align: left;
}